APP_USERNAME=admin
APP_PASSWORD_HASH=$2b$12$EixZaYVK1fsbw1ZfbX3OXePaWxn96p36WQoeG6Lruj3vjPGga31lW
JWT_SECRET_KEY=cambia-esto-por-una-clave-secreta-larga-y-aleatoria
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
JWT_REFRESH_TOKEN_EXPIRE_DAYS=30
DATABASE_URL=sqlite:///./data/facturacion.db
SIFEN_ENABLED=False
